@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap");

/* Common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #f8fafe;
  font-weight: 500;
  line-height: 19px;
}

a {
  color: #018ad2;
  text-decoration: none;
}

a:hover {
  color: #f36223;
}

a:active {
  color: #a93a09;
}

h4 {
  margin-bottom: 15px;
}

.product-offer__frames iframe {
  border: 1px dashed #ccc;
  width: 100%;
  height: 300px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px 20px;
  background: #f8fafe;
}



.accent {
  color: #f52;
}

.contaiter {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

.hr-dashed {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px dashed #ddd;
}
/* /Common styles */



/* Nav */
.nav {
  margin-top: 10px;
}
/* /Nav */

.title {
  padding: 9px 0 30px;
}

.img-large__img {
  margin-bottom: 30px;
}

.product-features {
  padding-left: 20px;
}

.product-features__item {
  padding-bottom: 10px;
}

.product-features__item::marker {
  color: #888;
}

.review {
  display: flex;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-info {
  margin-bottom: 15px;
}

.product-info__gallery_item {
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px 25px;
}

.product-info__gallery_item:hover {
  background-color: #f2f2f2;
}

.product-info__gallery_item:active {
  border: 1px solid #a93a09;
}

.content_area img:hover {
  background-color: #f2f2f2;
}

.product-info__subsection {
  margin: 30px 0;
}

.product-info__btn {
  cursor: pointer;
  background-color: #f8fafe;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.product-info__btn:hover {
  background-color: #f2f2f2;
}

.product-info__btn:active {
  border: 1px solid #a93a09;
}

.activ {
  border: 1px solid #f36223;
}

.product-info__description p {
  padding: 8px 0;
}

.product-info__description-title {
  margin-bottom: 15px;
}

.price-area {
  padding: 20px;
  width: 420px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 40px;
}

.buttons {
  padding: 16px;
}

.cart-button {
  width: 320px;
  height: 64px;
  border: 0;
  background: #F36223;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cart-button:hover {
  background: #DA4A0C;
}

.cart-button.cart-button-added,
.cart-button.cart-button-added:hover {
  background: #888888;
}

.price-area_new {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

.price-area p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 10px 0;
}

.price-area__old-price p {
  color: #888888;
}

.price-area__old-price span {
  align-items: center;
  padding: 4px 8px;
  margin: 10px;
  background: #f36223;
  color: #ffffff;
  border-radius: 500px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.price-area__old-price {
  display: flex;
  justify-content: space-between;
}

.price-area__heart:hover path {
  fill: #f36223;
}
.price-area__heart:active path {
  fill: #a93a09;
}

/* Table */
.product-table__inner,
.product-table__inner th {
  border: 1px solid #888;
  padding: 10px;
}

.product-table__sell-data td {
  padding: 10px;
  border-right: 1px solid #888;
}

.product-table__inner {
  margin: 15px 0 30px;
  border-collapse: collapse;
}

.product-table__sell-data:hover {
  background-color: #f2f2f2;
}
/* /Table */

/* Review */
.review-header {
  display: flex;
  justify-content: space-between;
  width: 880px;
}

.review-header h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: inline-block;
}

.review-header span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

.review {
  display: flex;
  flex-direction: column;
  width: 880px;
}

.review__inner-img {
  margin-right: 30px;
  border-radius: 100%;
  margin-right: 30px;
  height: 140px;
}

.review__inner-content p {
  margin-bottom: 10px;
  font-size: 14px;
}

.stars p {
  display: inline-block;
  margin-bottom: 20px;
}

.review__inner {
  display: flex;
  margin: 40px 0;
}
/* /Review */

/* Form-review */

input.form-review__error-active {
  border: 1px solid #f36223;
}

div.form-review__error-active {
  display: block;
}

.form-review__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.form-review__row input,
.form-review__row textarea {
  font-family: "Inter", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  background: #f8fafe;
  border: 1px solid darkgray;
  padding-left: 20px;
  outline: none;
}

.form-review__row input:hover,
.form-review__row textarea:hover {
  border: 1px solid black;
}

.form-review__row input[type="text"] {
  height: 49px;
}

.form-review__row input[placeholder="Имя и фамилия"] {
  width: 500px;
}

.form-review__row input[placeholder="Оценка"] {
  width: 170px;
}

.form-review__row textarea {
  width: 100%;
  margin: 15px 0;
  height: 200px;
  resize: none;
}

.form-review__row input[type="submit"] {
  background: #f36223;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
}

.form-review__row input[type="submit"]:hover {
  background: #da4a0c;
}

.form-review__warning-error {
  left: 434px;
  right: 0;
  height: 25px;
  width: 470px;
  background: #f36223;
  display: none;
  color: white;
  padding: 2px 4px;
}

.form-review__warning-error-active {
  display: block;
}

textarea {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 19px;
  padding-top: 10px;
}
/* /Form-review */


/* Product adv */
.product-adv {
  margin-bottom: 30px;
  display: none;
}

.product-adv__note {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  font-weight: 400;
  margin-bottom: 10px;
}

.product-adv__banner {
  width: 100%;
  height: 300px;
  border: 1px dashed #888888;
  margin-bottom: 15px;
  color: #888888;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F0F0F0;
}

.product-adv__banner:last-of-type {
  margin-bottom: 0;
}

@media(min-width: 1024px) {
  .product-adv {
    display: block;
  }
}
/* /Product adv */

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .img-large__img {
    height: 278px;
  }
  .product-info__gallery_item {
    width: 80px;
    height: 80px;
  }
  .product-info {
    width: 594px;
    padding-right: 40px;
  }
  .price-area {
    box-sizing: border-box;
    width: 100%;
  }
  .form-review {
    padding-left: 0;
  }
  .form-review__row input[placeholder="Имя и фамилия"] {
    width: 370px;
  }
  .form-review__warning-error {
    width: 370px;
    left: 236px;
  }
  .footer__inner {
    padding: 0;
  }
  .product-preview {
    display: flex;
  }
  .review {
    width: 594px;
  }
  .product-buy__btn {
    width: 100%;
  }
  .product-form__subsection {
    margin: 60px 0;
  }
  .product-table {
    display: none;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
  }
  .product-info {
    width: 880px;
    padding-right: 0;
  }
  .review {
    width: 880px;
  }
  .form-review {
    padding-left: 170px;
  }
  .product-offer {
    width: 420px;
  }
  .img-large__img {
    height: 387px;
  }
  .form-review__row input[placeholder="Имя и фамилия"] {
    width: 470px;
  }
  .form-review__warning-error {
    width: 470px;
    left: 234px;
  }
  .button a {
    width: 376px;
  }
  .product-table {
    display: block;
  }
}
