/* Footer */
.footer {
  background: #f2f2f2;
  padding: 30px;
  margin-top: 85px;
}

.footer__inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
/* /Footer */