/* Header */
.logo {
  display: inline-block;
  margin-bottom: -3px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: -1px 0 9px;
  position: sticky;
  top: 0;
  background-color: #f8fafe;
  line-height: 44px;
  border-bottom: 2px solid gray;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: inline-block;
  color: #000;

}

.icons {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.icon {
  position: relative;
}

.icon__indicator {
  display: none;
  width: 20px;
  height: 20px;
  background: #f36223;
  border-radius: 50px;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.icon__indicator.icon__indicator-active {
  display: flex;
}

.button.cart-button-added,
.button.cart-button-added:hover {
  background: #888888;
}

/* /Header */