/* Product offer */
.product-offer {
  width: 420px;
}

.product-buy {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px 20px 20px 20px;
  margin-bottom: 40px;

}

.product-buy__old {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product-buy__old-price {
  font-weight: 500;
  color: #888888;
  margin-right: 10px;
  text-decoration: line-through;
}

.product-buy__old-percent {
  background: #F36223;
  border-radius: 15px;
  color: #FFFFFF;
  padding: 4px 8px;
  font-weight: 500;
  margin-bottom: 14px;
}

.product-buy__new {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 15px;
}

.product-buy__get {
  font-weight: 400;
  margin-bottom: 15px;
}

.product-buy__get p {
  margin-bottom: 10px;
}

.product-buy__btn {
  background-color: #F36223;
  color: #FFFFFF;
  text-align: center;
  display: block;
  width: 100%;
  border: 0;
  padding: 20px;
  font-size: 20px;
}

.product-buy__btn-active {
  background: gray;
}

.product-buy__btn:hover {
  background: #DA4A0C;
}

.product-offer__frames {
  margin-top: 40px;
}

.product-offer__frames-note {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  font-weight: 400;
  margin-bottom: 10px;
}

.product-offer__frames-list iframe {
  width: 420px;
  height: 300px;
  border: 1px dashed #888888;
  margin-bottom: 15px;
}

.product-offer__frames-list iframe:last-of-type {
  margin-bottom: 0;
}
/* /Product offer */