/* Nav */
.nav {
  margin-top: 20px;
}

.nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  margin-bottom: 4px;
}

@media(min-width: 1024px) {
  nav a {
    display: inline;
    margin-bottom: 0;
  }
}
/* /Nav */