/* Product add review */
.addReview__title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.addReview__form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 15px;
}

.addReview__form-row.addReview__form-row-responsive {
  display: flex;
  flex-direction: column;
}

.addReview__form-nameWrapper {
  width: 100%;
  position: relative;
}

.addReview__form-scoreWrapper {
  width: 100%;
  position: relative;
}

.addReview__form-row input,
.addReview__form-row textarea {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  border: 1px solid darkgray;
  padding: 10px 20px;
  outline: none;
  width: 100%;
}

.addReview__form-row input:focus,
.addReview__form-row textarea:focus {
  border: 1px solid black;
}

.addReview__form-row input {
  height: 49px;
}

.addReview__form-row textarea {
  height: 200px;
  resize: none;
}

.addReview__form-row input[type="submit"] {
  background: #f36223;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  width: 183px;
}

.addReview__form-row input[type="submit"]:hover {
  background: #da4a0c;
}

input.addReview__form-field-error {
  border: 1px solid #da4a0c;
}

.addReview__form-error {
  background: #da4a0c;
  display: none;
  color: white;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 17px;
}

.addReview__form-error.addReview__form-error-active {
  display: block;
}

@media(min-width: 1024px) {
  .addReview__form-row.addReview__form-row-responsive {
    flex-direction: row;
  }

  .addReview__form-nameWrapper {
    width: 65%;
  }
  
  .addReview__form-scoreWrapper {
    width: 35%;
  }
}


/* /Product add review */